Repository 10up/block-components, pull requests merged in 2022-06, with the labels that each got.

#115 Feature: Query filter
  components/content-picker/index.js
  components/content-picker/readme.md
  components/content-search/index.js
  components/content-search/readme.md
  package-lock.json
Labels: [Type] Enhancement, [Component] Content Picker

#122 fix remove identifier from Link Component
  components/link/index.js
Labels: [Type] Bug, [Component] Link

#110 Add: `Repeater` Component
  README.md
  components/content-picker/PickedItem.js
  components/drag-handle/index.js
  components/index.js
  components/repeater/index.js
  components/repeater/readme.md
  cypress/integration/Repeater.spec.js
  cypress/support/commands.js
  example/src/blocks/repeater-component-example/block.json
  example/src/blocks/repeater-component-example/edit.js
  example/src/blocks/repeater-component-example/index.js
  example/src/index.js
  package-lock.json
  package.json
Labels: [Type] Enhancement, New Component
