Repository 10up/block-components, pull requests merged in 2024-01, with the labels that each got.

#283 Allow type number for Optional component property `value`
  components/optional/index.js
Labels: [Type] Enhancement, [Component] Optional

#280 Replace `TextControl` with `SearchControl` in `ContentSearch` Component
  components/content-picker/index.js
  components/content-picker/readme.md
  components/content-search/index.js
  components/content-search/readme.md
  example/src/blocks/content-picker-example/block.json
  example/src/blocks/content-picker-example/edit.js
  example/src/blocks/content-picker-example/index.js
  images/content-picker.gif
  package-lock.json
  package.json
Labels: [Type] Enhancement, [Component] Content Picker

#284 Fix: refactor use filtered list TypeScript
  hooks/use-filtered-list/index.ts
Labels: [Type] Enhancement, [Type] Code Quality

#275 fix(icon picker): fix for missing icons in the editor icon picker
  components/icon-picker/icon-picker.js
Labels: [Type] Bug, [Component] Icon Picker

#269 Add inline media controls for the Image component
  components/image/child-components/figure.js
  components/image/child-components/index.js
  components/image/child-components/inline-controls.js
  components/image/child-components/media.js
  components/image/index.js
  components/image/readme.md
  components/image/styles.js
  example/src/blocks/multiple-image-example/block.json
  example/src/blocks/multiple-image-example/edit.js
  example/src/blocks/multiple-image-example/index.js
  example/src/index.js
Labels: [Type] Enhancement, [Component] Image

#287 Fix e2e tests
  example/.wp-env.json
  example/plugin.php
  package-lock.json
  package.json
Labels: [Type] Infrastructure, [Type] Code Quality

#289 fix style stability content search
  components/content-search/SearchItem.js
  components/content-search/index.js
Labels: [Type] Bug

#288 Update Icon Store and hooks to TS
  .eslintrc
  hooks/use-icons/index.ts
  package-lock.json
  package.json
  stores/icons/actions.ts
  stores/icons/index.ts
  stores/icons/reducer.ts
  stores/icons/selectors.test.ts
  stores/icons/selectors.ts
  stores/icons/types.ts
  stores/index.ts
Labels: [Type] Code Quality
