Repository 10up/block-components, pull requests merged in 2024-06, with the labels that each got.

#325 Migrate `ContentSearch` component to TS
  components/content-search/SearchItem.tsx
  components/content-search/index.tsx
  example/src/blocks/content-search-example/edit.tsx
Labels: [Component] Content Picker, [Type] Code Quality

#329 Fix: use proper eslint for ts
  .eslintignore
  .eslintrc
  components/author/context.ts
  components/author/index.tsx
  components/color-settings/index.tsx
  components/content-search/SearchItem.tsx
  components/content-search/index.tsx
  components/counter/index.tsx
  components/icon-picker/icon-picker-toolbar-button.tsx
  components/icon-picker/icon-picker.tsx
  components/icon-picker/icon.tsx
  components/icon-picker/inline-icon-picker.tsx
  components/inner-block-slider/index.js
  components/is-admin/index.tsx
  components/link/index.js
  components/media-toolbar/index.tsx
  components/optional/index.ts
  components/post-date/index.tsx
  components/post-meta/index.tsx
  components/post-term-list/index.js
  components/post-title/index.tsx
  components/repeater/index.js
  cypress.config.js
  hooks/use-all-terms/index.ts
  hooks/use-block-parent-attributes/index.ts
  hooks/use-filtered-list/index.ts
  hooks/use-has-selected-inner-block/index.ts
  hooks/use-is-plugin-active/index.ts
  hooks/use-is-supported-meta-value/index.ts
  hooks/use-on-click-outside.ts
  hooks/use-primary-term/index.ts
  hooks/use-script/index.ts
  hooks/use-selected-term-ids/index.ts
  hooks/use-selected-terms-of-saved-post/index.ts
  hooks/use-taxonomy/index.ts
  package-lock.json
  package.json
  stores/icons/actions.ts
  stores/icons/reducer.ts
  stores/icons/selectors.ts
  stores/icons/types.ts
Labels: [Type] Code Quality

#326 Refactor `ContentSearch` to use react query
  components/content-search/SearchItem.tsx
  components/content-search/index.tsx
  components/content-search/types.ts
  components/content-search/utils.ts
  package-lock.json
  package.json
Labels: [Type] Enhancement, [Component] Content Picker, [Type] Code Quality

#331 Remove: `defaultProps` & `propTypes` definitions from remaining components
  .eslintrc
  api/register-block-extension/index.js
  components/clipboard-button/index.tsx
  components/content-picker/PickedItem.js
  components/content-picker/SortableList.js
  components/content-picker/index.js
  components/custom-block-appender/index.js
  components/image/index.js
  components/inner-block-slider/index.js
  components/link/index.js
  components/post-category-list/index.js
  components/post-context/index.js
  components/post-excerpt/index.js
  components/post-primary-category/index.js
  components/post-primary-term/index.js
  components/post-term-list/index.js
  components/post-term-list/item.js
  components/repeater/index.js
  components/rich-text-character-limit/index.js
  hooks/use-popover/index.js
  package-lock.json
  package.json
Labels: [Type] Code Quality
