Repository 10up/block-components, pull requests merged in 2025-06, with the labels that each got.

#379 Feature: Add new `unregisterBlockExtension` function
  api/index.ts
  api/register-block-extension/index.tsx
  api/register-block-extension/readme.md
Labels: [Type] Enhancement

#380 Fix: ensure Content Picker label doesn’t display when max number of posts is reached
  components/content-picker/index.tsx
Labels: [Type] Bug, [Component] Content Picker

#378 Fix: handle deleted items in content picker
  components/content-picker/PickedItem.tsx
  components/content-picker/SortableList.tsx
Labels: [Type] Bug, [Component] Content Picker

#377 Add support for granular imports to reduce bundle size
  README.md
  package.json
  webpack.config.js
Labels: [Type] Enhancement, [Type] Infrastructure

#382 Fix: allow passing aria label to link
  components/link/index.tsx
  components/link/readme.md
Labels: [Component] Link

#383 fix/367: Repeater: WordPress 6.8 Dragging issue
  components/drag-handle/index.tsx
  components/repeater/index.js
Labels: [Type] Bug, [Component] Repeater

#387 Fix: Include Exports for Require
  package.json
Labels: [Type] Enhancement, [Type] Infrastructure

#388 Fix/workflow perms
  .github/workflows/compressed-size.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/linting.yml
  .github/workflows/release-next-npm-version.yml
  .github/workflows/release-npm-version.yml
  .github/workflows/release-testing-npm-version.yml
  .github/workflows/unit-tests.yml
Labels: [Type] Infrastructure
